a:hover{text-decoration:none !important;}

.nav-tabs{border:none;}

.nav-tabs .nav-link.active{
    background-color:darkred;
	color:#FFF;
}
.nav-tabs .nav-link{
    background-color:#FFF;
    color:#23272b;
}

.list-group-item a{
    color:#1b1e21;
}

.list-group-item.active{
    background-color:darkred;
    color:#FFF;
    border-color:transparent;
}



.bg-lighter{background-color:#CDCACA;}

.w-2{width:2rem;height:2rem}
.w-4{width:4rem}

/*轮播*/

.carousel-indicators li{background:rgba(255,255,255,0.6);width:10px;height:10px;border-radius:50%;margin:0 0.5rem -2rem 0;}

.carousel-indicators li.active{background:#FFF;}

.carousel .carousel-inner .carousel-item img{width:100%;height:100%}



/*表格*/
table tr{text-align:center !important;}
table tr td{vertical-align:middle !important;}
caption{caption-side:top;text-align:center;}
/*分页*/
.pagination .active .page-link{background-color:#dc3545 !important;border-color:#dc3545;} 

/*左侧卡片card*/
.card-header:hover{background:#4e4e4d;}

.card-body:hover .card-link{
 	color:#FFF !important;}

/*字体*/
.h7{
 	font-size:14px;
 }






.h-24{height:24rem;}

.h-12{height:12rem;}

.rounded-1{border-radius:1rem;}

