html{
  font-size:50px;
}

a{
  text-decoration:none;
}

.table-wrapper {
  .block {
    margin-top: 0.1rem;
    text-align: right;
  }
}

.el-form {
  position: relative !important;
  font-size: 0.2rem !important;
}

.plain-ct {
  
  display: flex;
  justify-content:space-between;
  align-items:center;
  
  width: 100%;
  font-size: .4rem;
}


//过度

.component-fade-enter-active, .component-fade-leave-active {
  transition: all 0.3s ease;
}

.component-fade-enter{
  opacity: 0;
} 

.component-fade-leave-to{
  transform:translateX(20px)
  opacity: 0;
}